/*comienzo del header*/


.header {
    width: 100%;
    height: 70px;
    position: fixed;
    transition: .7s;
    z-index: 1;

}

.header2 {
    width: 100%;
    height: 80px;
    background-color: #262b30;
    position: fixed;
    transition: .7s;
    z-index: 1;
    box-shadow: 5px 5px 11px #309f33,
        -5px -5px 11px #3c444c;

}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links {
    display: flex;
    list-style: none;
}

.navbar-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-2);
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-family: 'IBM Plex Mono', monospace;
    transition: .5s;
}

.navbar-links a.link-hover::after {
    content: "";
    border-bottom: 3px solid var(--color-3);
    width: 0%;
    position: absolute;
    bottom: 10px;
    right: 15px;
    transition: .5s;
}

.navbar-links a.link-hover::before {
    content: "";
    border-bottom: 3px solid var(--color-3);
    width: 0%;
    position: absolute;
    bottom: 0px;
    left: 15px;
    transition: .5s;
}

.navbar-links a:hover::before,
.navbar-links a:hover::after {
    color: var(--color-3);
    width: 55%;
    transition: 0.5s;
}

.navbar-links a.link-hover:hover {
    color: var(--color-3);
    transition: .5s;
}


/* Comienzo estilos de CV*/

.navbar-links a.link-cv:hover {
    color: var(--color-3);
    transition: .5s;
}

.navbar-links a.link-cv::after {
    content: "";
    border-bottom: 3px solid var(--color-3);
    width: 0%;
    position: absolute;
    bottom: 13px;
    right: 15px;
    transition: .5s;
}

.navbar-links a.link-cv::before {
    content: "";
    border-bottom: 3px solid var(--color-3);
    width: 0%;
    position: absolute;
    top: 13px;
    left: 15px;
    transition: .5s;
}

.navbar-links a.link-cv:hover::before,
.navbar-links a.link-cv:hover::after {
    color: var(--color-3);
    width: 35%;
    transition: 0.5s;
}

/* Fin Estilos de CV*/

/* fin del header */